/*VARIABLES*/
:root {
  --white: #fff;

  --Dark-blue-100: #609ed4;
  --Dark-blue-200: #356ea9;
  --Dark-blue-300: #0a3871;
  --Dark-blue-400: #072b61;
  --Dark-blue-500: #052051;

  --Light-blue-100: #f3f5fc;
  --Light-blue-200: #eff1fa;
  --Light-blue-300: #e9ecf8;
  --Light-blue-400: #aab2d5;
  --Light-blue-500: #757fb2;

  --Gray-100: #ced4da;
  --Gray-200: #adb5bd;
  --Gray-300: #868e96;
  --Gray-400: #495057;
  --Gray-500: #343a40;

  --gap-size-sm: 8px;
  --gap-size-md: 16px;
  --gap-size-xl: 24px;

  --margin-size-sm: 8px;
  --margin-size-md: 16px;
  --margin-size-xl: 24px;

  --padding-size-sm: 8px;
  --padding-size-md: 16px;
  --padding-size-xl: 24px;
  --padding-size-2xl: 32px;
  --padding-size-3xl: 40px;

  --drop-shadow: 0 24px 32px -8px #00000008;
  --rounded: 8px;
}

/*GLOBALS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: var(--Light-blue-100);
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 64px;
  margin-right: 64px;
}

header {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Oleo Script", cursive;
  font-weight: 700;
  font-size: 3rem;
  color: var(--Dark-blue-300);
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--Dark-blue-300);
}

h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--Gray-400);
}

.logo {
  height: 60px;
  display: flex;
  gap: var(--gap-size-xl);
}

.logo-img {
  width: 3rem;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 300px;
  grid-column-gap: var(--gap-size-md);
  margin: auto 0;
}

.card-message {
  background: var(--white);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;

  box-shadow: var(--drop-shadow);
  border-radius: var(--rounded);
}

.card > header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid var(--Light-blue-300);
  padding-left: var(--padding-size-xl);
  padding-right: var(--padding-size-xl);
}

.card-crypted-message {
  background: var(--Light-blue-100);
  border: 2px dashed var(--Dark-blue-300);
  border-radius: var(--rounded);
  box-shadow: var(--drop-shadow);
}

.card-message > .header-left {
  display: flex;
  flex-direction: column;
}

.alert-message {
  display: flex;
  align-items: center;
  gap: 4px;
}

.alert-message > img {
  width: 1rem;
}

.card > textarea {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  resize: none;
  padding: var(--padding-size-sm) var(--padding-size-xl) var(--padding-size-xl);
  border: none;
  background: none;
}

.card-message > textarea {
  color: var(--Dark-blue-300);
}

.card-crypted-message > textarea {
  color: var(--Gray-400);
}

.card-message > textarea:placeholder-shown {
  color: var(--Light-blue-500);
  font-weight: 300;
}

.select-box {
  display: flex;
  align-items: center;
  position: relative;
}

.select-box > img {
  position: absolute;
  right: 8px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border-radius: 9999px;
  padding: var(--padding-size-sm) var(--padding-size-3xl) var(--padding-size-sm)
    var(--padding-size-md);
  background: var(--Dark-blue-300);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}

#button-copy {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
}

#button-trash {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
}

button:hover {
  background: var(--Light-blue-300);
}

footer {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: var(--padding-size-xl);
}
